<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-800 text-white">

    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold text-center text-white mb-6">Add a new User</h1>

        <div th:if="${error}" class="text-2xl text-red-500 text-center mb-4">
            <p th:text="${error}"></p>
        </div>

        <form action="/add-player" method="POST" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" required class="w-full p-2 mt-2 border border-gray-300 rounded-md text-black" placeholder="Inserisci username">
            </div>
            <button type="submit" class="w-full py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Add User</button>
        </form>

        <div class="mt-6 text-center">
            <a href="/" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Go to Home</a>
        </div>
    </div>

</body>
</html>
